temp/
tests/
node_modules/
.cache/
.tools/
public/models/**/*.gz

research/vela-v4.2/bin/
research/vela-v4.2/full100/model/
research/vela-v4.2/compression/bin/
research/vela-v4.2/compression/data/
research/vela-v4.2/compression/models/
research/vela-v4.2/compression/results/
research/vela-v4.2/compression/logs/
research/vela-v4.2/compression/tmp/
research/vela-v4.2/compression/src/action_train/*.exe
research/vela-v4.2/compression/src/runtime/*.exe
research/vela-v4.2/**/__pycache__/
